@import '../../styles/variables.scss';

.menu {
  display: flex;
  flex-flow: row wrap;
  flex-flow: row wrap;

  @include viewport-is(tab-mobile) {
    display: block;
  }

  &-image {
    width: 225px;
    margin: 0 20px 0 0;

    img {
      width: 100%;
      border: 3px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0,0.3);
    }

    @include viewport-is(desktop-tab) {
      width: 150px;
    }

    @include viewport-is(mobile) {
      width: auto;
      margin: 0 0 10px;
    }
  }

  &-details {
    flex: 1;
  }

  &-title {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    margin: 0 0 15px;
    padding: 0 0 10px;
    border-bottom: 1px dotted lightgray;
  }

  &-price {
    margin: 0 0 0 auto;
    color: green;
    font-weight: normal;
  }

  &-text {
    line-height: 1.4em;
  }

  &-item {
    margin: 0 30px 40px 0;
    width: calc(50% - 15px);
    display: flex;

    &:nth-of-type(even) {
      margin-right: 0;  
    }

    @include viewport-is(tab-mobile) {
      width: auto;
      margin: 0 0 30px;
    }

    @include viewport-is(mobile) {
      display: block;
    }
  }

  &-category {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;

    @include viewport-is(tab-mobile) {
      margin: 0 0 40px;
    }

    .button {
      background: none;
      border-bottom: 1px solid transparent;
      padding: 5px 10px;
      margin: 0 10px;

      &:hover,
      &:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
  
  &-main {
    margin: 0 0 20px;
  }

  &-search {
    margin: 0 0 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    &-input {
      max-width: 350px;
      position: relative;
      flex: 1;

      .input-field {
        font-weight: normal;
        padding-right: 45px;
      }
    }

    &-range {
      display: flex;

      .input-field {
        width: 120px;
      }
    }

    &-btn {
      border: 0;
      background: none;
      line-height: 0;
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #777;
    }
  }

  .pagination {
    width: 100%;
  }
}
