/* Large desktop */
@media (max-width: 1200px) { 
	.container {
    padding: 0 15px;
  }

  header {
    padding: 15px 0;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) { 
  .project {
    width: calc(50% - 8px);
    margin: 0 16px 15px 0;

    &:nth-of-type(3n) {
      margin-right: 15px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .title-main {
    font-size: 35px;

    &::before {
      height: 1px;
      width: 80px;
    }
  }

  .title {
    font-size: 25px;
  }

  .project {
    width: 70%;
    margin: 0 auto 20px;

    &:nth-of-type(3n),
    &:nth-of-type(2n) {
      margin-right: auto;
    }
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.project {
    width: 100%;
  }

  header {
    margin: 0 0 20px;
  }
}
