@import '../../styles/variables.scss';

.tabs {
  display: flex;
  margin: 0 0 -1px;

  li {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid transparent;
    cursor: pointer;

    &.active {
      background: #fff;
      border: 1px solid #ececec;
      border-bottom: none;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 15px;
  }

  &-name {
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  &-company {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  &-duration {
    color: #888;
    margin: 0 0 20px;
  }

  &-duties {
    li {
      margin: 0 0 10px 15px;
      list-style: circle inside;
    }
  }

  &-details {
    border: 1px solid #ececec;
    padding: 20px;
    background: #fff;
  }

  &-main {
    margin: 0 0 20px;
  }
}